<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body>
<div class="login-container">
    <h2>make the product</h2>
    <form action="/add_product" method="POST">
        <label for="image">image</label>
        <input type="file" id="image" name="image" placeholder="" required/>
        <label for="stock">stock</label>
        <input type="text" id="stock" name="stock" required/>
        <label for="name">name</label>
        <input type="text" id="name" name="name" required/>
        <label for="price">price</label>
        <input type="text" id="price" name="price" required/>
        <label for="desc">description</label>
        <input type="text" id="desc" name="desc" required/>
        <label for="desc">category</label>
        <label>Choose categories:</label>
        <div class="circle-options">
            {% for i in cats %}
                <label class="circle-option">
                    <input type="checkbox" name="category" value="{{ i.id }}">
                    <span class="custom-circle"></span>
                    {{ i.name }}
                </label>
            {% endfor %}
        </div>
        <button type="submit">Add Product</button>
    </form>
</div>
</body>
</html>