<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body>
    <div class="login-container">
        <h2>make the category</h2>
        <form action="/add_category" method="POST">
            <label for="name">name</label>
            <input type="text" id="name" name="name" required/>

            <label for="desc">description</label>
            <input type="text" id="desc" name="desc" required/>

            <button type="submit">Add Category</button>
        </form>
    </div>
</body>
</html>
