{% extends "foodmart1/dashboard.html" %}

{% block title %}Categories - Admin{% endblock %}

{% block dash_active %}nope{% endblock %}
{% block order_active %}nope{% endblock %}
{% block product_active %}nope{% endblock %}
{% block customer_active %}nope{% endblock %}
{% block category_active %}active{% endblock %}
{% block content %}
    <div class="grid-products">
        <div class="product-card">
            <div class="product-name">Name</div>
            <div>Description</div>
        </div>
        {% for cat in category %}
            <div class="product-card">
                <div class="product-name">{{ cat.name }}</div>
                <div class="product-name">{{ cat.description }}</div>

                <div class="product-actions">
                    <form method="POST" action="/admin_categorys">
                        <input type="hidden" name="id" value="{{ cat.id }}">
                        <button class="btn" type="submit" name="edit" value="confirm">✏️ Edit</button>
                    </form>
                    <form method="POST" action="/admin_categorys">
                        <input type="hidden" name="id" value="{{ cat.id }}">
                        <button class="btn" name="remove1" value="remove1" type="submit">🗑️ Remove</button>
                    </form>
                </div>
            </div>
        {% endfor %}
        <form method="POST" action="/admin_categorys">
            <button class="add-card" name="add_cat" value="confirmed" type="submit">+ Add Category</button>
        </form>
    </div>
{% endblock %}

